#image: golang:latest

stages:
  #- build
  - deploy

deploy:
  stage: deploy
  script:
    #- cp /dev/null .env # create empty .env file
    #- echo "env_dev=$env_dev" >> .env # add env_dev to .env file
    #- /home/ubuntu/gateway/main
    # - docker build -t gateway .
    # - docker tag gateway:latest
    # - docker save gateway:latest > gateway.tar
    # - scp -i $ID_RSA gateway.tar deployer@18.139.123.236:/home/ubuntu/gateway-2/gateway.tar
    - ssh gitlab-runner@18.139.123.236 'cd /home/gitlab-runner/gateway/ && cp /dev/null .env'
    - ssh gitlab-runner@18.139.123.236 'echo "env_dev=$env_dev" >> .env'
    - ssh -i $SSH_PRIVATE_KEY gitlab-runner@18.139.123.236 'cd /home/gitlab-runner/gateway/ && git checkout development && git pull origin development '
    - ssh -i $SSH_PRIVATE_KEY gitlab-runner@18.139.123.236 'cp /dev/null .env && echo "env_dev=$env_dev" > .env'
    - ssh -i $SSH_PRIVATE_KEY gitlab-runner@18.139.123.236 'go build cmd/main/main.go'
    - ssh -i $SSH_PRIVATE_KEY gitlab-runner@18.139.123.236 './main'