image: golang:1.13

stages:
  - deploy

deploy:
  stage: deploy
    
  script:
    - echo $env_dev
    - touch .env && cp $env_dev .env
    - cd /home/gitlab-runner/gateway/ && git checkout development && git pull https://git.devucc.name/undercurrent-tech/options-exchange/gateway.git development 
    - go build cmd/main/main.go 
    