stages:
  - deploy

deploy:
  stage: deploy
    
  script:
    - cp $env_dev .env
    # - ssh  -o StrictHostKeyChecking=no gitlab-runner@18.139.123.236 'cd /home/gitlab-runner/gateway/ && git checkout development && git pull origin development'
    # #- ssh -o StrictHostKeyChecking=no gitlab-runner@18.139.123.236 'cp /dev/null .env && echo "$env_dev" > .env'
    # - ssh -o StrictHostKeyChecking=no gitlab-runner@18.139.123.236 'go build cmd/main/main.go'
    # - ssh -o StrictHostKeyChecking=no gitlab-runner@18.139.123.236 './main'
    - cd /home/gitlab-runner/gateway/ && git checkout development && git pull origin development
    - go build cmd/main/main.go
    - ./main