image: golang:latest

stages:
  #- test
  - build
  - deploy

# format:
#   stage: test
#   script:
#     - go fmt $(go list ./... | grep -v /vendor/)
#     - go vet $(go list ./... | grep -v /vendor/)
#     - go test -race $(go list ./... | grep -v /vendor/)

compile:
  stage: build
  script:
    - mkdir -p /home/ubuntu/gateway
    - cd /home/ubuntu/gateway
    - go build cmd/main/main.go
  artifacts:
    paths:
      - /home/ubuntu/gateway

deploy:
  stage: deploy
  script: 
    - cd/home/ubuntu/gateway
    - ./main
  environment: production
