image: golang:1.13

stages:
  - deploy

deploy:
  stage: deploy
    
  script:
    - cp $env_dev .env
    - cd /home/gitlab-runner/gateway/ && git checkout development && git pull # origin development
    - go build cmd/main/main.go 
    