stages:
  - deploy

deploy:
  stage: deploy
    
  script:
    - ssh  -o StrictHostKeyChecking=no gitlab-runner@$SERVER_IP 'cd /home/gitlab-runner/gateway/ && git checkout development && git pull origin development && echo "$env_dev" > .env'
    #- ssh -o StrictHostKeyChecking=no gitlab-runner@18.139.123.236 'cp /dev/null .env && echo "$env_dev" > .env'
    - ssh -o StrictHostKeyChecking=no gitlab-runner@$SERVER_IP 'go build cmd/main/main.go'
    - ssh -o StrictHostKeyChecking=no gitlab-runner@$SERVER_IP './main'