image: golang:latest

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - go build cmd/main/main.go

deploy:
  stage: deploy
  script:
    - cp /dev/null .env # create empty .env file
    - echo "env_dev=$env_dev" >> .env # add env_dev to .env file
    - ./main # run project