# image: golang:1.13
stages:
  - deploy

deploy:
  type: deploy
  stage: deploy
  before_script:
    - cp ${env_dev} .env  
  script:
    - "cd /home/gitlab-runner/gateway/ && git checkout development && git pull https://git.devucc.name/undercurrent-tech/options-exchange/gateway.git development"
    - "go build cmd/main/main.go"
    