# image: golang:1.13
stages:
  - deploy

deploy:
  stage: deploy
  before_script:
    - cd /home/gitlab-runner/gateway/ && echo ${env_dev} > .env  
  script:
    - "cd /home/gitlab-runner/gateway/ && git checkout development && git pull git@git.devucc.name:undercurrent-tech/options-exchange/gateway.git"
    - "go build cmd/main/main.go" 
 
    