basePath: /api/internal
info:
  contact: {}
paths:
  /sync/:target:
    post:
      consumes:
      - application/json
      description: do sync
      produces:
      - application/json
      responses:
        "200":
          description: "message\"\t: \"success\"}"
          schema:
            type: any
      summary: Sync memdb with mongodb
      tags:
      - internal
swagger: "2.0"
