basePath: /api/internal
info:
  contact: {}
paths:
  /sync/{target}:
    post:
      consumes:
      - application/json
      description: do sync
      parameters:
      - description: target
        in: path
        name: target
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Sync memdb with mongodb
      tags:
      - internal
swagger: "2.0"
