basePath: /api/internal
definitions:
  service.Request:
    properties:
      user_ids:
        items:
          type: string
        type: array
    required:
    - user_ids
    type: object
info:
  contact: {}
paths:
  /sync/{target}:
    post:
      consumes:
      - application/json
      description: do sync
      parameters:
      - description: request body
        in: body
        name: Request
        required: true
        schema:
          $ref: '#/definitions/service.Request'
      - description: target entity to sync, users
        in: path
        name: target
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Sync memdb with mongodb
      tags:
      - internal
swagger: "2.0"
