name: On Pull Request

on:
  pull_request:
    branches:
      - development
    types: [opened, reopened, review_requested]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOPRIVATE: github.com/Undercurrent-Technologies/kprime-utilities
      GIT_TERMINAL_PROMPT: 1

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19.2"

      - run: git config --global url.https://darmawan01:${GH_ACCESS_TOKEN}@github.com/.insteadOf https://github.com

      - name: Build Image
        run: |
          cp .env.example .env
          go get github.com/Undercurrent-Technologies/kprime-utilities
          go build -o main main.go