name: Deploy pipeline
run-name: ${{ github.actor }} triggered deployment for development
on:
  push:
    branches:
      - ci-cd-runner-self
  workflow_dispatch:

jobs:
  deploy:
    uses: Undercurrent-Technologies/kprime-gateway/.github/workflows/reusable-deployment.yml@ci-cd-runner-self
    with:
      environment: development
    secrets: inherit
