name: Build Image

on:
  push:
    branches: [ "development" ]
  pull_request:
    branches: [ "development" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOPRIVATE: github.com/Undercurrent-Technologies/kprime-utilities
      GIT_TERMINAL_PROMPT: 1

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - run: git config --global url.https://darmawan01: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@github.com/.insteadOf https://github.com

      - name: Build Image
        run: |
          cp .env.example .env
          go mod tidy
          go build -o main main.go
          docker --version
          docker-compose --version