name: Build Image && Run Unit Test

on:
  pull_request:
    branches: [ "development" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{ github.event.number }}
      ACCESS_USER: ${{ secrets.ACCESS_USER }}
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      GOPRIVATE: github.com/Undercurrent-Technologies/kprime-utilities
      IMAGE_TAG: ghcr.io/undercurrent-technologies/gateway
      GIT_TERMINAL_PROMPT: 1

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - run: git config --global url.https://${ACCESS_USER}:${ACCESS_TOKEN}@github.com/.insteadOf https://github.com

      - name: Build App
        run: |
          cp .env.example .env
          go mod tidy
          go build -o gateway main.go
      
      - name: Build App container
        run: |
          ls -la
          docker build -t ${IMAGE_TAG}:${PR_NUMBER} .
      
      - name: Run Tests
        run: |
          docker-compose -f docker-compose.itest.yml up -d --force-recreate redis mongo zookeeper kafka seeder
          sleep 5
          docker-compose -f docker-compose.itest.yml up -d --force-recreate matching-engine pickup gateway
          sleep 5

          docker-compose down -v

          